<section id="home-container">  
  <h1 class="main-title">Test</h1>
  <div>
    <form class="sample-form" ng-submit="createTask()">
      <label>Task name</label>
      <input type="text" class="form-control" ng-model="newTask.name" placeholder="sample">
      <label>Task Description</label>
      <textarea class="form-control" ng-model="newTask.description" placeholder="description..."></textarea>
      <button type="submit" class="btn btn-primary btn-width">Submit</button>
    </form>
  </div>
<!--   <p ng-repeat="thing in things">
    {{thing}}
  </p> -->
  <p ng-repeat="task in tasks">
    {{task}}
  </p>
</section>